<!-- _includes/contact.html -->
{% comment %}
 
{% endcomment %}

{% if site.locale and site.locale != "" and site.locale != nil %}
<section class="page-section" id="{{ site.data.sitetext[site.locale].contact.section | default: 'contact' }}">
  <div class="container">
    <!-- Section heading -->
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">
          {{ site.data.sitetext[site.locale].contact.title | markdownify | default: 'Contact Us' }} Contact Us
        </h2>
       <p>info@flinthillstenantsunited.org</p>
      </div>
    </div>
   
  </div>
</section>

{% endif %}
<!-- End Contact -->
